{% extends "web/base.html" %}
 
{% block title %}
    <center><h1 style="background-color:yellow">Thông tin sinh viên</h1></center>
{% endblock %}
    
{% block content %}
    <div class="container-fluid" style="min-height : 85%">
        <div class="row">
            <div class="col-sm-6">
                <h1>1.Nguyễn Cao Nguyên Lâm</h1>
                <h1>email:nglam105@gmail.com</h1>
                <img src='static/img/reborn.jpg' class="responsive-img" style="max-width:300px ;"/>
            </div>
        </div>
    </div>

{% endblock %}